.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.motogpLogo {
    width: 20%;
    cursor: pointer;
}

.desktopMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.desktopMenu > p {
    font-weight: bold;
}

.desktopMenu > p:hover {
    cursor: pointer;
    font-weight: bold;
}

.mobileMenu > li {
    list-style-type: none;
}

.mobileMenu > li > p {
    font-weight: bold;
}

.open .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.icons > img {
    filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(31deg) brightness(104%) contrast(100%);
    margin: 5px;
}

.icons > img:hover {
    cursor: pointer;
}

.hamburgerIcon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.hamburgerIcon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 1;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .desktopMenu {
        display: none;
    }

    .hamburgerIcon {
        display: block;
    }
}