.item {
  width: 90%;
  position: relative;
  margin-right: 5%;
  margin-bottom: 2rem;
}

.item:hover {
  cursor: pointer;
}

.productImage {
  width: 100%;
  height: auto;
}

.favoriteIcon {
  filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(31deg) brightness(104%) contrast(100%);
  position: absolute;
  top: 1rem;
  left: 0;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: black;
  padding: 0.2rem 0.5rem;
}

.name {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.price {
  display: flex;
  flex-direction: row;
}

.totalPrice {
  width: 49%;
  text-align: end;
  margin-right: 1%;
  color: red;
  text-decoration: line-through;
}

.discountedPrice {
  width: 49%;
  text-align: start;
  margin-left: 1%;
}

@media (min-width: 768px){
  .item {
    width: 20%;
  }
}